h1 {
    color: yellow;
    background-color: #ce6464;
    padding: 7px;
    padding-left: 15px;
}
.ducks, .geckos{
    flex-basis: 50%;
    border: 3px solid #ce6464;
}
.topic-column-container h2{
    text-align: center;
}
.topic-column-container{
    display: block; 
}    
.media-column-container {
    display: block;
    border-top: 1px solid black;
}
.ducks{
    margin-right: 0; 
}
@media screen and (min-width: 500px) {
    .media-column-container {
        display: flex;
    }
}
@media screen and (min-width: 700px) {
    .topic-column-container{
        display: flex; 
    }
    .ducks{
        margin-right: 15px; 
    }
}
.media-column-container > div {
    flex-basis: 50%;
}
.media-column-container img{
    width: 100%;
}
.info {
    font-size: 18px;
    padding: 5px;
    border-left: 1px solid black;
}