h1 {
    color: yellow;
    background-color: #ce6464;
    padding: 7px;
    padding-left: 15px;
}
.ducks, .geckos{
    flex-basis: 50%;
    border: 3px solid #ce6464;
}
.content h2{
    text-align: center;
}
.content{
    display: block; 
}    
.content-column-container {
    display: block;
}
.ducks{
    margin-right: 0; 
}
@media screen and (min-width: 500px) {
    .content-column-container {
        display: flex;
    }
}
@media screen and (min-width: 700px) {
    .content{
        display: flex; 
    }
    .ducks{
        margin-right: 15px; 
    }
}
.content-column-container > div {
    flex-basis: 50%;
    border: 1px solid black;
   border-bottom: none; 
}
.content-column-container img{
    width: 100%;
}
.info {
    font-size: 18px;
    padding: 5px;
}